<div class="row" [formGroup]="vm.form">
  <section class="col-md-6">
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'name' }}</label>
      <input type='text' class='form-control' [(ngModel)]='vm.model.name' name='name' required formControlName='name'    maxlength=50 autocomplete='off'/>
    </div>
  </section>
  <section class="col-md-12">
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'descricao' }}</label>
      <textarea class='form-control'  [(ngModel)]='vm.model.descricao' name='descricao' required rows='5' formControlName='descricao' ></textarea>
    </div>
  </section>
  <section class="col-md-6">
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'data' }}</label>
      <input type='text' class='form-control' [(ngModel)]='vm.model.data' name='data'  formControlName='data' datetimepicker autocomplete='off'/>
    </div>
  </section>
  <section class="col-md-6">
    <div class='form-group' *ngIf="!vm.isParent || vm.ParentIdField != 'sampleId'">
      <label class='mr-1'>{{ vm.infos | traduction:'sampleId' }}</label> 
        <select class='form-control'  name='sampleId' [(ngModel)]='vm.model.sampleId' required formControlName='sampleId' datasource [dataitem]="'Sample'" [fieldFilterName]="'Name'"  ></select>
      </div>
        
  </section>
</div>

