<div class="row" [formGroup]="vm.form">
<div class="col-2">
	<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
		<a  class="nav-link active" id="v-pills-DadosBasicos-tab" data-toggle="pill" href="#v-pills-DadosBasicos" role="tab" aria-controls="v-pills-DadosBasicos" aria-selected="true"><i class="fa fa-file"></i> Dados Basicos</a>
<a  class="nav-link " id="v-pills-Outros-tab" data-toggle="pill" href="#v-pills-Outros" role="tab" aria-controls="v-pills-Outros" aria-selected="true"><i class="fa fa-bars"></i> Outros</a>
<a *ngIf='vm.model.sampleId | existsRequest:"Sample" | async' class="nav-link " id="v-pills-SampleDetail-tab" data-toggle="pill" href="#v-pills-SampleDetail" role="tab" aria-controls="v-pills-SampleDetail" aria-selected="true"><i class="fa fa-users"></i> Sample Detail</a>
<a *ngIf='vm.model.sampleId | existsRequest:"Sample" | async' class="nav-link " id="v-pills-SampleProduct-tab" data-toggle="pill" href="#v-pills-SampleProduct" role="tab" aria-controls="v-pills-SampleProduct" aria-selected="true"><i class="fa fa-tasks"></i> Sample Product</a>
	</div>
</div>
<div class="col-10">
	<div class="tab-content" id="v-pills-tabContent">
		<div class="tab-pane fade show active" id="v-pills-DadosBasicos" role="tabpanel" aria-labelledby="v-pills-DadosBasicos-tab">
	<div class="row">
		  <section class="col-md-6">
    <div class='form-group' *ngIf="!vm.isParent || vm.ParentIdField != 'sampleId'">
      <label class='mr-1'>{{ vm.infos | traduction:'sampleId' }}</label> <a href="#" data-toggle="modal" (click)="$event.preventDefault();appsamplestandartcreateModal.show()" title="{{vm.generalInfo.novoItem.label}}"><i class="fa fa-plus-circle"></i></a>
        <select class='form-control'  name='sampleId' [(ngModel)]='vm.model.sampleId' required formControlName='sampleId' datasource [dataitem]="'SampleStandart'" [fieldFilterName]="'Name'" [datafilters]="{AttributeBehavior:'withoutchild'}" ></select>
      </div>
        <div bsModal #appsamplestandartcreateModal="bs-modal" class="modal fade" id="appsamplestandartcreateModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body pre-scrollable">
        <app-samplestandart-create [isParent]="'true'"  (saveEnd)="onSaveEnd($event)" (backEnd)="onBackEnd($event)"></app-samplestandart-create>
      </div>
    </div>
  </div>
</div>

  </section>
  <section class="col-md-6">
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'name' }}</label>
      <input type='text' class='form-control' [(ngModel)]='vm.model.name' name='name' required formControlName='name'    maxlength=50 autocomplete='off'/>
    </div>
  </section>
  <section class="col-md-6">
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'valor' }}</label>
      <input type='text' class='form-control' [(ngModel)]='vm.model.valor' name='valor'  formControlName='valor' maskm   autocomplete='off'/>
    </div>
  </section>
	</div>
</div>

<div class="tab-pane fade show " id="v-pills-Outros" role="tabpanel" aria-labelledby="v-pills-Outros-tab">
	<div class="row">
		  <section class="col-md-12">
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'descricao' }}</label>
      <textarea class='form-control'  [(ngModel)]='vm.model.descricao' name='descricao'  rows='5' formControlName='descricao' ></textarea>
    </div>
  </section>
  <section class="col-md-12">
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'tags' }}</label>
      <textarea class='form-control'  [(ngModel)]='vm.model.tags' name='tags'  rows='5' formControlName='tags' ></textarea>
    </div>
  </section>
  <section class="col-md-6">
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'telefone' }}</label>
      <input type='text' class='form-control' [(ngModel)]='vm.model.telefone' name='telefone'  formControlName='telefone'  [textMask]='{ mask: vm.masks.maskTelefone }'  maxlength=20 autocomplete='off'/>
    </div>
  </section>
  <section class="col-md-6">
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'cpf' }}</label>
      <input type='text' class='form-control' [(ngModel)]='vm.model.cpf' name='cpf'  formControlName='cpf'  [textMask]='{ mask: vm.masks.maskCPF }'  maxlength=20 autocomplete='off'/>
    </div>
  </section>
  <section class="col-md-6">
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'datetime' }}</label>
      <input type='text' class='form-control' [(ngModel)]='vm.model.datetime' name='datetime'  formControlName='datetime' datetimepicker autocomplete='off'/>
    </div>
  </section>
  <section class="col-md-6">
    <div class='form-group' *ngIf="!vm.isParent || vm.ParentIdField != 'sampleTypeId'">
      <label class='mr-1'>{{ vm.infos | traduction:'sampleTypeId' }}</label> 
        <select class='form-control'  name='sampleTypeId' [(ngModel)]='vm.model.sampleTypeId' required formControlName='sampleTypeId' datasource [dataitem]="'SampleType'" [fieldFilterName]="'Name'"  ></select>
      </div>
        
  </section>
  <section class="col-md-6">
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'age' }}</label>
      <input type='text' class='form-control' [(ngModel)]='vm.model.age' name='age'  formControlName='age'  maski='9999999999'  autocomplete='off'/>
    </div>
  </section>
  <section class="col-md-6">
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'category' }}</label>
      <input type='text' class='form-control' [(ngModel)]='vm.model.category' name='category'  formControlName='category'  maski='9999999999'  autocomplete='off'/>
    </div>
  </section>
  <section class="col-md-6">
    <div class='checkbox pt-4'>
      <label>
          <input type='checkbox'  [(ngModel)]='vm.model.ativo'  name='ativo' formControlName='ativo'  /> {{ vm.infos | traduction:"ativo" }}?
      </label>
    </div>
  </section>
	</div>
</div>

<div class="tab-pane fade show " id="v-pills-SampleDetail" role="tabpanel" aria-labelledby="v-pills-SampleDetail-tab">
	<div class="m-0 p-0">
		<app-sampledetail [parentIdValue]='vm.model.sampleId' [parentIdField]="'sampleId'" [isParent]="'true'" *ngIf='vm.model.sampleId | existsRequest:"Sample" | async'  ></app-sampledetail>
	</div>
</div>

<div class="tab-pane fade show " id="v-pills-SampleProduct" role="tabpanel" aria-labelledby="v-pills-SampleProduct-tab">
	<div class="m-0 p-0">
		<app-sampleproduct [parentIdValue]='vm.model.sampleId' [parentIdField]="'sampleId'" [isParent]="'true'" *ngIf='vm.model.sampleId | existsRequest:"Sample" | async'  ></app-sampleproduct>
	</div>
</div>

	</div>
</div>

</div>

