<dl>
    <dt>{{ vm.infos | traduction: 'name' }}:</dt>
    <dd><bind-custom [model]="vm.details.name" [format]="'string'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.infos | traduction: 'description' }}:</dt>
    <dd><bind-custom [model]="vm.details.description" [format]="'string'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.infos | traduction: 'productId' }}:</dt>
    <dd><bind-custom [model]="vm.details.productId" [format]="'int'" [tag]="'span'" ></bind-custom></dd>
 

</dl> 